telegram:
  environment: "development"
  environments:
    development:
      api_token: ""
      timeout: 60
    test:
      api_token: ""
      timeout: 60
    production:
      api_token: ""
      timeout: 60
administration:
  admin: "admin"
google:
  spreadsheet_id: ""